<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <system.web>
    <compilation debug="true" targetFramework="4.0" />
  </system.web>
    <system.webServer>
        <httpProtocol>
            <customHeaders>
                <add name="Content-Security-Policy" value="script-src 'self' https://apis.google.com http://localhost*" />
            </customHeaders>
        </httpProtocol>
    </system.webServer>
</configuration>