<div class="container" id="buttonsView">
    <div class="row" id="info-panel">
        <div class="col-md-6">
            <section>
                <header>
                    <center><h2><a href="#/topic/6193567f-aa49-42a8-9cc3-4bd76ef16707">Themenansicht</a></h2></center>
                </header>
                <p>Die folgenden Links führen Sie zu Kennzahlen aus den entsprechenden <b>Themen</b>bereichen. 
                    Als Karte, Ringdiagramm oder Tabelle abgebildet können Sie sich bis zu zwei Kennzahlen für die Kreisgebiete Oberfrankens anzeigen lassen.</p>
            </section>
        </div>
        <div class="col-md-6">
            <section>
                <header>
                    <center><h2><a href="#/region/22928">Regionenansicht</a></h2></center>
                </header>
                <p>Wenn Sie auf eine <b>Region</b> klicken, können Sie sich für das ausgewählte Kreisgebiet alle verfügbaren Kennzahlen im Zeitverlauf im Vergleich zu Oberfranken anzeigen lassen. In der Detailansicht des Gebiets gewinnen Sie einen Eindruck über die räumliche Verteilung der verschiedenen Bildungseinrichtungen vor Ort.</p>
            </section>
        </div>
    </div>

    <div class="row">
        <div class="col-md-6">
            <div ng-show="$ctrl.loading" class="atlas-loading">
                <i class="fa fa-spinner fa-pulse fa-2x fa-fw"></i>
                <span class="sr-only">Loading...</span>
            </div>
            <div ng-repeat="topic in $ctrl.topics" ng-class="{disabled: (topic.layers.length === 0 && topic.layerGroups.length === 0)}">
                <h3>
                    <a ng-href="#/topic/{{topic.id}}" ng-class="{disabled: (topic.layers.length === 0 && topic.layerGroups.length === 0)}">
                        <i class="fa fa-angle-right"></i> {{topic.name}}
                    </a>
                </h3>
                <p>{{topic.description}}</p>                              
            </div>
           
        </div>
        <div class="col-md-6"> 
           <div regions-map stats="$ctrl.mapData" year="0" selection=""  schemecolors="['#5ABA22','#009ee2']" options="{tooltips: {value: false}}" class="col-md-12"></div>
        </div> 
    </div>
</div>
                   
