<div class="container" id="buttonsView">
    <div class="row" id="info-panel">
        <div class="col-md-6">
            <section>
                <header>
                    <center><h2>Regionenansicht</h2></center>
                </header>
                <p>Unter Themen finden Sie Kennzahlen zu den verschiedenen Bildungsbereichen. Als Karte, Ringdiagramm oder Tabelle abgebildet können Sie sich bis zu zwei Kennzahlen für die Kreisgebiete Oberfrankens anzeigen lassen.</p>
            </section>
        </div>
        <div class="col-md-6">
            <section>
                <header>
                    <center><h2>Themenansicht</h2></center>
                </header>
                <p>Unter Regionen können Sie sich für ein ausgewähltes Kreisgebiet alle verfügbaren Kennzahlen im Zeitverlauf im Vergleich zu Oberfranken anzeigen lassen. In der Detailansicht des Gebiets gewinnen Sie Eindruck über die räumliche Verteilung der verschiedenen Bildungseinrichtungen vor Ort.</p>
            </section>
        </div>
    </div>

    <div class="row">
        <div class="col-md-6">
            <div ng-show="$ctrl.loading" class="atlas-loading">
                <i class="fa fa-spinner fa-pulse fa-2x fa-fw"></i>
                <span class="sr-only">Loading...</span>
            </div>
            <div ng-repeat="topic in $ctrl.topics" ng-class="{disabled: (topic.layers.length === 0 && topic.layerGroups.length === 0)}">
                <h3>
                    <a ng-href="#/topic/{{topic.id}}" ng-class="{disabled: (topic.layers.length === 0 && topic.layerGroups.length === 0)}">
                        <i class="fa fa-angle-right"></i> {{topic.name}}
                    </a>
                </h3>
                <p>{{topic.description}}</p>                              
            </div>
           
        </div>
        <div class="col-md-6"> 
           <div regions-map stats="$ctrl.mapData" year="0" selection=""  schemecolors="['#5ABA22','#009ee2']" options="{tooltips: {value: false}}" class="col-md-12"></div>
        </div> 
    </div>
</div>
                   