<div class="container" id="buttonsView">
    <div class="row" id="info-panel">
        <div class="col-md-6">
            <center><i class="fa fa-sticky-note-o fa-5x"  aria-hidden="true"></i></center>
            <p>Unter Themen stehen Kennzahlen zu den verschiedenen Bildungsbereichen zur Verfügung. Als Karte, Ringdiagramm oder Tabelle abgebildet ist der direkte Vergleich der Werte in den Kreisgebieten Oberfrankens für bis zu zwei Kennzahlen möglich.</p>
        </div>
        <div class="col-md-6">
            <center><i class="fa fa-flag-o fa-5x"  aria-hidden="true"></i></center>
            <p>Unter Regionen lassen sich für ein ausgewähltes Kreisgebiet alle verfügbaren Kennzahlen im Zeitverlauf im Vergleich zu Oberfranken anzeigen. Zudem bietet eine Detailansicht des Gebiets einen Blick auf die räumliche Verteilung der verschiedenen Bildungseinrichtungen vor Ort.</p>
        </div>
    </div>

    <div class="row">
        <div class="col-md-6">
            <div ng-show="$ctrl.loading" class="atlas-loading">
                <i class="fa fa-spinner fa-pulse fa-2x fa-fw"></i>
                <span class="sr-only">Loading...</span>
            </div>
            <div ng-repeat="topic in $ctrl.topics" ng-class="{disabled: (topic.layers.length === 0 && topic.layerGroups.length === 0)}">
                <h3><a ng-href="#/topic/{{topic.id}}" ng-class="{disabled: (topic.layers.length === 0 && topic.layerGroups.length === 0)}">{{topic.name}}</a></h3>
                <p>{{topic.description}}</p>                              
            </div>
           
        </div>
        <div class="col-md-6"> 
           <div regions-map stats="$ctrl.mapData" year="0" selection=""  schemecolors="['#5ABA22','#009ee2']" options="{tooltips: {value: false}}" class="col-md-12"></div>
        </div> 
    </div>
</div>
                   