<topic-badge topic="topicsCollection.topicId1"></topic-badge>

<div class="container">
    <div class="row">
        <div class="col-md-5">
            <topics-selection topic="topicsCollection.topicId1"></topics-selection>           
            <topic-view topic="topicsCollection.topicId1" data="topicsCollection.data1" layer="topicsCollection.layer" year="topicsCollection.year"></topic-view>
            
            <div class="container_additional_layer">
                <div role="button" class="btn btn-default" ng-click="topicsCollection.showAdditionalLayer()" ng-hide="topicsCollection.additionLayer">Weitere Kennzahl hinzufügen</div>
            
                <!-- Addional Layer -->
                <div id="addition_layer" class="panel panel-default" ng-show="topicsCollection.additionLayer">
                    <topics-selection topic="topicsCollection.topicId2"></topics-selection>        
                    <topic-view topic="topicsCollection.topicId2" data="topicsCollection.data2" layer="topicsCollection.layer2" year="topicsCollection.year2"></topic-view>
                    <div class="text-right">
                        <div role="button" class="btn btn-default btn-sm btn-remove" ng-click="topicsCollection.removeAdditionalLayer()">Entfernen</div>
                    </div>
                </div>
            </div>
        </div>
        
        <div class="col-md-7">
            <!-- Tabs with visuals -->
            <ul class="nav nav-tabs">
                <li role="presentation" ng-click="topicsCollection.showMap()" ng-class="{active: topicsCollection.visibleMap}"><a>Karte</a></li>
                <li role="presentation" ng-click="topicsCollection.showRing()" ng-class="{active: topicsCollection.visibleRing}"><a>Diagramm</a></li>
                <li role="presentation" ng-click="topicsCollection.showTable()" ng-class="{active: topicsCollection.visibleTable}"><a>Tabelle</a></li>
            </ul>
            
            <!-- Comments -->
            <div class="comment">   
                <p ng-if="topicsCollection.topicId1.comment" class="alert alert-info" role="alert">    
                    <span class="glyphicon glyphicon-info-sign" aria-hidden="true"></span>
                    <span class="sr-only">Information:</span>
                    {{topicsCollection.topicId1.comment}} 
                </p>
                <p ng-if="topicsCollection.topicId2.comment && topicsCollection.topicId2.comment !== topicsCollection.topicId1.comment" class="alert alert-info" role="alert">
                    <span class="glyphicon glyphicon-info-sign" aria-hidden="true"></span>
                    <span class="sr-only">Information:</span>
                    {{topicsCollection.topicId2.comment}} 
                </p>
            </div>
            

            <!-- Current Year -->
            <div class="years">
                <h4 class="year pull-right" ng-if="topicsCollection.additionLayer && (topicsCollection.year != topicsCollection.year2)">
                    <span class="sr-only">Ausgewähltes Jahr (für zweiten Layer): </span>
                    <span class="label label-default label-secondary" ng-bind="topicsCollection.year2"></span>
                </h4> 
                <h4 class="year pull-right" ng-if="topicsCollection.year">
                    <span class="sr-only">Ausgewähltes Jahr: </span>
                    <span class="label label-default" ng-bind="topicsCollection.year"></span>
                </h4>
            </div>
             
            

            <!-- Map -->
            <div ng-if="topicsCollection.visibleMap">
                <div regions-map stats="topicsCollection.data1" unit="topicsCollection.layer.unit " stats2="topicsCollection.data2" schemecolors="topicsCollection.colors" schemecolors2="topicsCollection.colors2" options="topicsCollection.mapOptions">Lade...</div>
            </div>
            
            <!--Pie -->
            <div regions-pie stats="topicsCollection.data1" schemecolors="topicsCollection.colors" ng-if="topicsCollection.visiblePie">Lade...</div>
            
            
            <!-- Table -->
            <topic-table data="{stats :[topicsCollection.data1, (topicsCollection.additionLayer && topicsCollection.layer.id !== topicsCollection.layer2.id ? topicsCollection.data2:[])], units: [topicsCollection.layer.unit, topicsCollection.layer2.unit], headlines:[topicsCollection.layer.name,topicsCollection.layer2.name]}" ng-if="topicsCollection.visibleTable">Loading...</topic-table>

            <!-- Ring -->
            <div topic-ring data="{stats :[topicsCollection.data1, (topicsCollection.additionLayer?topicsCollection.data2:[])], units: [topicsCollection.layer.unit, topicsCollection.layer2.unit], headlines:[topicsCollection.layer.name,topicsCollection.layer2.name]}" schemecolors="[topicsCollection.colors, topicsCollection.colors2]" ng-if="topicsCollection.visibleRing" >Lade...</div>
            
            <!-- Legende -->
            <div id="legend" class="panel" ng-if="!topicsCollection.visibleTable">
                <colorbrewer-picker schema="topicsCollection.colors" min="topicsCollection.minValue()" max="topicsCollection.maxValue()" unit="topicsCollection.layer.unit"></colorbrewer-picker>
                <colorbrewer-picker schema="topicsCollection.colors2" min="topicsCollection.minValue2()" max="topicsCollection.maxValue2()" unit="topicsCollection.layer.unit" ng-show="topicsCollection.additionLayer"></colorbrewer-picker>
            </div>
        </div>
    </div>
</div>