<topic-badge topic="topicsCollection.topicId1"></topic-badge>

<div class="container">
    <div class="row">
        <div class="col-md-5">
            <topics-selection topic="topicsCollection.topicId1"></topics-selection>           
            <topic-view topic="topicsCollection.topicId1" data="topicsCollection.data1" average="topicsCollection.average1()" averageColor="topicsCollection.averageColor1" layer="topicsCollection.layer"></topic-view>
            
            <div class="container_additional_layer">
                <div role="button" class="btn btn-default" ng-click="topicsCollection.showAdditionalLayer()" ng-hide="topicsCollection.additionLayer">Weitere Kennzahl hinzufügen</div>
            
                <!-- Addional Layer -->
                <div id="addition_layer" class="panel panel-default" ng-show="topicsCollection.additionLayer">
                    <topics-selection topic="topicsCollection.topicId2"></topics-selection>        
                    <topic-view topic="topicsCollection.topicId2" data="topicsCollection.data2" layer="topicsCollection.layer2"></topic-view>
                    <div class="text-right">
                        <div role="button" class="btn btn-default btn-sm btn-remove" ng-click="topicsCollection.removeAdditionalLayer()">Entfernen</div>
                    </div>
                </div>
            </div>
        </div>
        
        <div class="col-md-7">
            <!-- Tabs with visuals -->
            <ul class="nav nav-tabs">
                <li role="presentation" ng-click="topicsCollection.showMap()" ng-class="{active: topicsCollection.visibleMap}"><a>Karte</a></li>
                <li role="presentation" ng-click="topicsCollection.showRing()" ng-class="{active: topicsCollection.visibleRing}"><a>Diagramm</a></li>
                <li role="presentation" ng-click="topicsCollection.showTable()" ng-class="{active: topicsCollection.visibleTable}"><a>Tabelle</a></li>
            </ul>

            <!-- Averages -->
            <!--
            <div ng-if="topicsCollection.additionLayer && topicsCollection.average2() !== 0" class="mapinfo" ng-style="{backgroundColor: topicsCollection.averageColor2, borderColor: topicsCollection.averageColor2}" title="Durchschnitt Oberfranken ({{topicsCollection.topicId2.name}})">
                <div><small>{{topicsCollection.layer2.name}} in Ofr.: {{topicsCollection.average2() | numberUnit : topicsCollection.layer2.unit }}{{topicsCollection.layer2.unit}}</small></div>
            </div>
            <div class="mapinfo" ng-if="topicsCollection.average1() !== 0" ng-style="{backgroundColor: topicsCollection.averageColor1, borderColor: topicsCollection.averageColor1}" title="Durchschnitt Oberfranken ({{topicsCollection.topicId1.name}})">
                <div><small>{{topicsCollection.layer.name}} in Ofr.: {{topicsCollection.average1() | numberUnit : topicsCollection.layer.unit }}{{topicsCollection.layer.unit}}</small></div>
            </div>
            -->

            <!-- Map -->
            <div ng-if="topicsCollection.visibleMap">
                <div regions-map stats="topicsCollection.data1" unit="topicsCollection.layer.unit " stats2="topicsCollection.data2" schemecolors="topicsCollection.colors" schemecolors2="topicsCollection.colors2" options="{ stats2: { visible: false }, unit: topicsCollection.layer.unit, tooltips: {unit: topicsCollection.layer.unit}}">Lade...</div>
            </div>
            <div regions-pie stats="topicsCollection.data1" schemecolors="topicsCollection.colors" ng-if="topicsCollection.visiblePie">Lade...</div>
            <topic-table data="{stats :[topicsCollection.data1, (topicsCollection.additionLayer && topicsCollection.layer.id !== topicsCollection.layer2.id ? topicsCollection.data2:[])], units: [topicsCollection.layer.unit, topicsCollection.layer2.unit], headlines:[topicsCollection.layer.name,topicsCollection.layer2.name]}" ng-if="topicsCollection.visibleTable">Loading...</topic-table>

            <div topic-ring data="{stats :[topicsCollection.data1, (topicsCollection.additionLayer?topicsCollection.data2:[])], units: [topicsCollection.layer.unit, topicsCollection.layer2.unit], headlines:[topicsCollection.layer.name,topicsCollection.layer2.name]}" schemecolors="[topicsCollection.colors, topicsCollection.colors2]" ng-if="topicsCollection.visibleRing" >Lade...</div>
            
            <div id="legend" class="panel">
                <colorbrewer-picker schema="topicsCollection.colors" min="topicsCollection.minValue" max="topicsCollection.maxValue"></colorbrewer-picker>
                <colorbrewer-picker schema="topicsCollection.colors2" min="topicsCollection.minValue2" max="topicsCollection.maxValue2" ng-show="topicsCollection.additionLayer"></colorbrewer-picker>
            </div>
        </div>
    </div>
</div>