<div class="btn-group">
    <button class="btn btn-default" type="button">{{$ctrl.topic.name}}</button>
    <button class="btn btn-default dropdown-toggle" type="button" id="TopicDropdownMenu" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <span class="caret"></span>
    </button>
    <ul class="dropdown-menu dropdown-menu-left scrollable-menu" aria-labelledby="TopicDropdownMenu">
        <li ng-repeat="topic in $ctrl.topics track by topic.id" ng-click="$ctrl.topic = topic">
            <a>{{topic.name}}</a>
        </li>
    </ul>
</div>