<div class="alert alert-danger" role="alert" ng-if="!$ctrl.security.isValid()">
    Sie müssen angemeldet sein um diesen Bereich zu nutzen
</div>


<div class="container" ng-if="$ctrl.security.isValid()">
    <div class="panel panel-default">
        <div class="panel-body">
            <a href="#/admin/topics" class="btn btn-default" role="button">Themen ändern</a>
            <a href="#/admin/layers" class="btn btn-default" role="button">Themenbereiche ändern</a>
        </div>  
    </div>
</div>

<div class="container" ng-if="$ctrl.security.isValid()">
    <h1>Bearbeite Values</h1>
    <!--<form>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th ng-click="$ctrl.sortOrder = 'id'"><strong>Region</strong></th>
                    <th ng-click="$ctrl.sortOrder = 'id'"><strong>Region Id</strong></th>
                    <th ng-click="$ctrl.sortOrder = 'year'"><strong>Jahr</strong></th>
                    <th><strong>Wert</strong></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="value in $ctrl.layerValues.values | orderBy: $ctrl.sortOrder">
                    <td>{{$ctrl.getRegionName(value.id)}}</td>
                    <td>{{value.id}}</td>
                    <td>{{value.year}}</td>
                    <td><input ng-value="value.value"></td>
                </tr>
            </tbody>
        <table>
    </form>-->

    <div id="grid_values" ui-grid="$ctrl.gridOptions" ui-grid-edit class="grid"></div>

    <div>{{$ctrl.gridOptions.data}}</div>
</div>