
<region-badge regionid="regionView.regionid"></region-badge>

<div class="container">
    
    <p>In der Detailansicht finden Sie die Adressinformationen zu den Einrichtungen des Kreisgebiets nach verschiedenen Bildungsbereichen. Das Kreisprofil stammt aus dem Atlas BildungsLandschaft Oberfranken (PDF-Version) und beinhaltet einzelne aufbereitete Kennzahlen je Themenbereich.</p>

    <div class="row hidden-xs">
        <div class="col-md-8">
            <h4>{{regionView.region.name}}</h4>
            <div region-details-map region="regionView.regionid" pois="regionView.pois"></div>
        </div>

        <div class="col-md-4">
            <h4>Oberfranken</h4>
            <div id="ofr-map" regions-map stats="regionView.mapData" year="0" selection="regionView.selection"  schemecolors="regionView.colorSchema" options="{tooltips: {value: false}, height: 360}"></div>

            <div class="well">
                <a type="button" class="btn btn-default" href="#/location/{{regionView.regionid}}">
                    <span class="glyphicon glyphicon-search" aria-hidden="true"></span> Detailansicht
                </a>
                <a type="button" class="btn btn-default" href="{{regionView.region.url}}">
                    <span class="glyphicon glyphicon-save-file" aria-hidden="true"></span> Kreisprofil (PDF)
                </a>
            </div>
        </div>
        
        
    </div>
    

    <div>    
        <div ng-repeat="(index,topic) in regionView.topics" class="topic-container" ng-init="visibleLayer = false">
            <div ng-if="topic.layers.length > 0" >
                <h3  ng-click="visibleLayer = !visibleLayer" id="topic_{{topic.id}}">
                    <a>
                        <span ng-show="visibleLayer" class="fa fa-angle-down" aria-hidden="true"></span>
                        <span ng-hide="visibleLayer" class="fa fa-angle-right" aria-hidden="true"></span>
                    </a>
                    <a>{{topic.name}}</a>
                </h3>
                <div ng-repeat="layer in topic.layers" ng-if="visibleLayer">
                    <h4>
                        {{layer.name}} 
                        <!-- Moves the scope to parent of parent and sets the visibleLayer to false -->
                        <span class="btn btn-xs pull-right" ng-click="$parent.$parent.visibleLayer = false">ausblenden</span> 
                    </h4>
                    <div class="row">
                        <div class="col-md-6">
                            <p>
                                {{layer.description}}
                            </p>

                            <div class="row" style="margin-left: 0">
                                <div class="col-md-2 stats_label"  ng-if="regionView.region.name">
                                    <small><b>Region:</b></small>
                                </div> 
                                <div class="col-md-10"  ng-if="regionView.region.name"><small>{{regionView.region.name}}</small></div>
                                
                                <div class="col-md-2 stats_label"  ng-if="layer.source">
                                    <small><b>Quelle:</b></small>
                                </div> 
                                <div class="col-md-10"  ng-if="layer.source"><small>{{layer.source}}</small></div>

                                <div class="col-md-2 stats_label calculation_label" ng-if="layer.calculation">
                                    <small><b>Eigene Berechnung:</b></small>
                                </div> 
                                <div class="col-md-10"  ng-if="layer.calculation"><small>{{layer.calculation}}</small></div>
                            </div>
                        </div>
                        <div class="col-md-6 well  col-md-margin" ng-hide="regionView.getLayerData(layer.id).length === 0">
                            <nvd3 options="regionView.getLayerOptions(layer.id)" data="regionView.getLayerData(layer.id)"></nvd3>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>