
<region-badge regionid="regionView.regionid"></region-badge>

<div class="container">
    <div class="row hidden-xs">
        <div class="col-md-6">
            <h4 style="border-bottom: 1px solid #CCC">Oberfranken</h4>
            <div id="ofr-map" regions-map stats="regionView.mapData" year="0" selection="regionView.selection"  schemecolors="regionView.colorSchema" options="{tooltips: {value: false}}"></div>
            
            <div id="coats">
                <a ng-repeat="region in regionView.regions" ng-href="#/region/{{region.id}}" >
                    <img  ng-src="images/{{region.id}}_coats.png" title="{{region.name}}" ng-class="region.id!=regionView.selection?'coatsofarms':''" style="margin-bottom: 2px;"></img>
                </a>
            </div>
        </div>
        
        <div class="col-md-6">
            <h4 style="border-bottom: 1px solid #CCC">{{regionView.region.name}}</h4>
            <div region-details-map region="regionView.regionid" pois="regionView.pois"></div>
            <div class="well">
                <a class="btn btn-default" href="#/location/{{regionView.regionid}}">Detailansicht</a>
                <a class="btn btn-default" href="{{regionView.region.url}}" target="_blank">Kreisprofil herunterladen (PDF)</a>
            </div>
        </div>
    </div>
    

    <div class="container-step">    
        <div ng-repeat="(index,topic) in regionView.topics" class="topic-container" ng-init="visibleLayer = false">
            <div ng-if="topic.layers.length > 0" >
                <h3  ng-click="visibleLayer = !visibleLayer">
                    
                    <small>
                        <a>
                            <span ng-show="visibleLayer" class="glyphicon glyphicon-minus-sign"></span>
                            <span ng-hide="visibleLayer" class="glyphicon glyphicon-plus-sign"></span>
                        </a>
                    </small>
                    <a>{{topic.name}}</a>
                </h3>
                <div ng-repeat="layer in topic.layers" ng-show="visibleLayer">
                    <h4>{{layer.name}}</h4>
                    <div class="row">
                        <div class="col-md-6">
                            <p>
                                {{layer.description}}
                            </p>

                            <div class="row" style="margin-left: 0">
                                <div class="col-md-2" style="padding-left: 0">
                                    <small><b>Region:</b></small>
                                </div> 
                                <div class="col-md-10"><small>{{regionView.region.name}}</small></div>
                                
                                <div class="col-md-2" style="padding-left: 0">
                                    <small><b>Quelle:</b></small>
                                </div> 
                                <div class="col-md-10"><small>{{layer.source}}</small></div>

                                <div class="col-md-2" style="padding-left: 0">
                                    <small><b>Eigene Berechnung:</b></small>
                                </div> 
                                <div class="col-md-10"><small>{{layer.calculation}}</small></div>
                            </div>
                        </div>
                        <div class="col-md-6 well" ng-hide="regionView.getLayerData(layer.id).length === 0">
                            <nvd3 options="regionView.getLayerOptions(layer.id)" data="regionView.getLayerData(layer.id)"></nvd3>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>