<div class="alert alert-danger" role="alert" ng-if="!$ctrl.security.isValid()">
    Sie müssen angemeldet sein um diesen Bereich zu nutzen
</div>

<div class="container" ng-if="$ctrl.security.isValid()">
    <div class="panel panel-default">
        <div class="panel-body">
            <a href="#/admin/topics" class="btn btn-default" role="button">Themen ändern</a>
            <a href="#/admin/layers" class="btn btn-default" role="button">Themenbereiche ändern</a>
        </div>  
    </div>
</div>

<div class="container"  ng-if="$ctrl.security.isValid()">
    <h1>Admin- Layers</h1>
    <div ng-repeat="group in $ctrl.layerGroups">
        <h3>{{group.name}}</h3>
        <table class="table table-hover table-striped">
        <thead>
            <tr>
                <th>#</th>
                <th>Name</th>
                <th style="width: 10%">Bearbeite Layer</th>
                <th style="width: 10%">Bearbeite Daten</th>
            </tr>
        </thead>
        <tbody>
        <tr ng-repeat="layer in group.layers | orderBy: 'sortOrder'">
            <td>
                {{layer.sortOrder}}
            </td>
            <td ng-class="{'text-deleted': layer.isDeleted}">
                {{layer.name}}
            </td>
            <td>
                <a href="#/admin/layer/{{layer.id}}"><span class="glyphicon glyphicon-pencil"></span></a>
            </td>
            <td>
                <a href="#/admin/values/{{layer.id}}" ng-hide="layer.isDeleted"><span class="glyphicon glyphicon-pencil"></span></a>
            </td>
        </tr>
        </tbody>
        <table>
    </div>
</div>