<!-- Top Navigation: Selector Layer -->
<div class="topic-view-navigation">
    <div class="btn-group">
        <button class="btn btn-default" type="button">
            {{topicView.layer.name}}
        </button>
        <button class="btn btn-default dropdown-toggle" type="button" id="LayersDropdownMenu" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <span class="caret"></span>
        </button>
        <ul class="dropdown-menu dropdown-menu-left scrollable-menu" aria-labelledby="LayersDropdownMenu">
            <li ng-repeat="layer in topicView.topic_.layers track by layer.id" ng-click="topicView.layer = layer; topicView.showInfo = false"><a>{{layer.name}}</a></li>
            <li ng-repeat-start="layerGroup in topicView.topic_.layerGroups"  class="dropdown-header">{{layerGroup.name}}</li>
            <li ng-repeat="layer_sub in layerGroup.layers track by layer_sub.id" ng-click="topicView.layer = layer_sub; topicView.showInfo = false"><a>{{layer_sub.name}}</a></li>
            <li ng-repeat-end  role="separator" class="divider"></li>
        </ul>
    </div>
</div>

<!-- Content -->
<p>
    <small>{{topicView.layer.description}}</small>
    <span ng-show="topicView.layer.infos" ng-click="topicView.showInfo = !topicView.showInfo">
        <span class="glyphicon glyphicon-info-sign"></span>
    </span>
    </div>

    <div ng-show="topicView.showInfo" class="well" ng-click="topicView.showInfo = false">
        <small>{{topicView.layer.infos}}</small>
    </div>
</p>
<div class="row" style="margin-left: 0">
    <div class="col-md-4 stats_label">
        <small><b>Berichtsjahr:</b></small>
    </div> 
    <div class="col-md-8">
        <span ng-style="topicView.switchYearLastEnbled()?{opacity:1.0}:{opacity:0.5, cursor: 'default'}" ng-click="topicView.switchYearLast()" class="glyphicon glyphicon-triangle-left clickable"  style="font-size: 0.7em"></span>
        <select ng-options="year as year for year in topicView.years" ng-model="topicView.year" ng-change="topicView.filterData()" class="form-control bilo-inline-control clean" style="display:inline; width: auto; "></select>
        <span ng-style="topicView.switchYearNextEnbled()?{opacity:1.0}:{opacity:0.5, cursor: 'default'}" ng-click="topicView.switchYearNext()" class="glyphicon glyphicon-triangle-right clickable" style="font-size: 0.7em"></span>
    </div>

    <div class="col-md-4 stats_label" ng-if="topicView.layer.source">
        <small><b>Quelle:</b></small>
    </div> 
    <div class="col-md-8" ng-if="topicView.layer.source"><small>{{topicView.layer.source}}</small>&nbsp;</div>
    
    <div class="col-md-4 stats_label" ng-if="topicView.layer.calculation">
        <small><b>Eigene Berechnung:</b></small>
    </div> 
    <div class="col-md-8" ng-if="topicView.layer.calculation"><small>{{topicView.layer.calculation}}</small>&nbsp;</div>
    
    <div class="col-md-4 stats_label" ng-if="topicView.average()">
        <small><b>Oberfranken:</b></small>
    </div> 
    <div class="col-md-8" ng-if="topicView.average()"><small>{{topicView.average() | numberValue : topicView.decimals}}{{topicView.unit() | singularUnit : topicView.average()}}</small>&nbsp;</div>
</div>

