<!-- Top Navigation: Selector Layer -->
<p class="topic-view-navigation">
    <div class="dropdown">
        <button class="btn btn-default dropdown-toggle" type="button" id="LayersDropdownMenu" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            {{topicView.layer.name}}
            <span class="caret"></span>
        </button>
        <ul class="dropdown-menu dropdown-menu-left" aria-labelledby="LayersDropdownMenu">
            <li ng-repeat="layer in topicView.topic_.layers track by layer.id" ng-click="topicView.layer = layer"><a>{{layer.name}}</a></li>
            <li ng-repeat-start="layerGroup in topicView.topic_.layerGroups"  class="dropdown-header">{{layerGroup.name}}</li>
            <li ng-repeat="layer_sub in layerGroup.layers track by layer_sub.id" ng-click="topicView.layer = layer_sub"><a>{{layer_sub.name}}</a></li>
            <li ng-repeat-end  role="separator" class="divider"></li>
        </ul>
    </div>
</p>

<!-- Content -->
<p ng-init="showInfo = false">
        <small>{{topicView.layer.description}}</small>
        <span ng-show="topicView.layer.infos" ng-click="showInfo = !showInfo">
            <span class="glyphicon glyphicon-info-sign"></span>
        </span>
    </div>

    <div ng-show="showInfo" class="well" ng-click="showInfo = false">
        {{topicView.layer.infos}}
    </div>
</p>
<div class="row" style="margin-left: 0">
    <div class="col-md-4" style="padding-left: 0">
        <small><b>Jahr:</b></small>
    </div> 
    <div class="col-md-8">
        <span ng-style="topicView.switchYearLastEnbled()?{opacity:1.0}:{opacity:0.5, cursor: 'default'}" ng-click="topicView.switchYearLast()" class="glyphicon glyphicon-triangle-left clickable"  style="font-size: 0.7em"></span>
        <select ng-options="year as year for year in topicView.years" ng-model="topicView.year" ng-change="topicView.filterData()" class="form-control bilo-inline-control clean" style="display:inline; width: auto; "></select>
        <span ng-style="topicView.switchYearNextEnbled()?{opacity:1.0}:{opacity:0.5, cursor: 'default'}" ng-click="topicView.switchYearNext()" class="glyphicon glyphicon-triangle-right clickable" style="font-size: 0.7em"></span>
    </div>

    <div class="col-md-4" style="padding-left: 0">
        <small><b>Quelle:</b></small>
    </div> 
    <div class="col-md-8"><small>{{topicView.layer.source}}</small>&nbsp;</div>
    
    <div class="col-md-4" style="padding-left: 0">
        <small><b>Eigene Berechnung:</b></small>
    </div> 
    <div class="col-md-8"><small>{{topicView.layer.calculation}}</small>&nbsp;</div>
    <div class="col-md-4" style="padding-left: 0">
        <small><b>Oberfranken:</b></small>
    </div> 
    <div class="col-md-8"><small>{{topicView.average() | numberUnit : topicView.unit()}}{{topicView.unit()}}</small>&nbsp;</div>
</div>

