<div ng-if="topicView.topic.layers.length">
    
    <h1>{{topicView.topic.name}}</h1>
    <div class="row" >
    
        <div class="col-md-6">
            <p>
                {{topicView.topic.description}}
            </p>
                                 
            <h3>
                <select class="form-control" ng-options="layer as layer.name for layer in topicView.topic.layers track by layer.id" ng-model="topicView.layer"></select>
            </h3>
            <p>
                {{topicView.layer.description}}
            </p>

            <div class="row" style="margin-left: 0">
                <div class="col-md-4" style="padding-left: 0">
                    <small><b>Jahr:</b></small>
                </div> 
                <div class="col-md-8">
                    <span class="glyphicon glyphicon-triangle-left" ng-click="topicView.switchYearLast()"></span>
                    <select ng-options="year as year for year in topicView.years" ng-model="topicView.year" class="form-control bilo-inline-control"></select>
                    <span class="glyphicon glyphicon-triangle-right" ng-click="topicView.switchYearNext()"></span>
                </div>

                <div class="col-md-4" style="padding-left: 0">
                    <small><b>Quelle:</b></small>
                </div> 
                <div class="col-md-8"><small>{{topicView.layer.source}}</small></div>
                
                <div class="col-md-4" style="padding-left: 0">
                    <small><b>Berechnung:</b></small>
                </div> 
                <div class="col-md-8"><small>{{topicView.layer.calculation}}</small></div>
                <div class="col-md-4" style="padding-left: 0">
                    <small><b>Durchschnitt Oberfranken:</b></small>
                </div> 
                <div class="col-md-8"><small>{{topicView.average()}}{{topicView.unit()}}</small></div>
            </div>
        
            <topic-table layer="topicView.layer" year="topicView.year"></topic-table>
            
        </div>
        <div class="col-md-6" >
            <ul class="nav nav-tabs">
                <li role="presentation" ng-click="topicView.showMap = true" ng-class="{active: topicView.showMap}"><a>Karte</a></li>
                <li role="presentation" ng-click="topicView.showMap = false" ng-class="{active: !topicView.showMap}"><a>Diagramm</a></li>
            </ul>
            
            <div regions-map stats="topicView.layer.data" year="topicView.year" ng-if="topicView.showMap"></div>
            <div regions-pie stats="topicView.layer.data" year="topicView.year" ng-if="!topicView.showMap"></div>
        </div>
    </div>
</div>

<div ng-if="topicView.topic.layers.length == 0">
    <div class="alert alert-info" role="alert">Bislang keine Daten verfügbar</div>
</div>