<div class="colorpicker colorpanel" >
    <div class="row">
        <div class="col-md-2" style="text-align: right; padding-right:2px"> 
                <!-- Nach DIN 5008 kommt immer ein Leerzeichen zwischen Wert und Einheit -->
                <small>{{$ctrl.min | numberUnit : $ctrl.unit}} {{$ctrl.unit  | singularUnit : $ctrl.min}}</small><span class="glyphicon glyphicon-triangle-right" style="font-size: 0.7em"></span>  
            </div>
        <div class="col-md-8"style="text-align: center; padding-top: 5px; padding-right:0px; padding-left: 0px"> 
            <span ng-repeat="c in $ctrl.currentSchema" class="colorpicker_colorbag" ng-style="{'background-color': c, 'width': (100/$ctrl.currentSchema.length)+'%'}" style="border-bottom: 1px solid #DDD;border-top: 1px solid #DDD;border-left: 1px solid #DDD;">
                &nbsp;
            </span>
        </div>
        <div class="col-md-2"  style="text-align: left; padding-left:2px">
                <!-- Nach DIN 5008 kommt immer ein Leerzeichen zwischen Wert und Einheit -->
            <span class="glyphicon glyphicon-triangle-left"  style="font-size: 0.7em"></span><small>{{$ctrl.max | numberUnit : $ctrl.unit}} {{$ctrl.unit | singularUnit : $ctrl.max}}</small>
        </div>
    </div>
    <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-8" style="padding-left: 0px;">
            <span style="display: inline-block; width: 15px; height: 15px; border: 1px solid #aaa; background-color: #ccc"></span>
            <span style="font-size: 10px;">Keine Angabe<span>
            <i class="fa fa-info-circle" aria-hidden="true" data-toggle="tooltip" title="Kein Wert vorhanden oder aus rechtlichen Gründen nicht anzeigbar."></i>
        </div>
        <div class="col-md-2">
            <i ng-click="$ctrl.opencolors ? $ctrl.opencolors=false : $ctrl.opencolors=$ctrl.clickable" class="fa fa-cog pull-right" aria-label="Auswahl der Kategorien und Farben"></i>
        </div>
    </div>
</div>
 
 
<div class="colorpickerColors" ng-show="$ctrl.opencolors"  >    
    <div ng-repeat="(name,schemas) in $ctrl.colors">
        <div ng-repeat="(count, cs) in schemas" ng-click="$ctrl.opencolors=false; $ctrl.pickSchema(cs); " class="colorpanel">
            <span ng-repeat="c in cs" style="display: inline-block; width: 15px; height: 15px" ng-style="{'background-color': c}">
                &nbsp;
            </span>
        </div>
    </div>
</div>   


