<div>
<div class="colorpicker colorpanel" ng-click="$ctrl.opencolors ? $ctrl.opencolors=false : $ctrl.opencolors=$ctrl.clickable">
    <div class="row">
        <div class="col-md-2" style="text-align: right; padding-right:2px"> 
                <small>{{$ctrl.min | numberUnit}}</small><span class="glyphicon glyphicon-triangle-right" style="font-size: 0.7em"></span>  
            </div>
        <div class="col-md-8"style="text-align: center; height:12px; padding: 4px;"> 
            <span ng-repeat="c in $ctrl.schema" class="colorpicker_colorbag" ng-style="{'background-color': c, 'width': (100/$ctrl.schema.length)+'%'}" >
                &nbsp;
            </span>
        </div>
        <div class="col-md-2"  style="text-align: left; padding-left:2px">
            <span class="glyphicon glyphicon-triangle-left"  style="font-size: 0.7em"></span><small>{{$ctrl.max | numberUnit : ''}}</small>
        </div>
    </div>
</div>
 
 
<div class="colorpickerColors" ng-show="$ctrl.opencolors"  >    
    <div ng-repeat="(name,schemas) in $ctrl.colors">
        <div ng-repeat="(count, cs) in schemas" ng-click="$ctrl.opencolors=false; $ctrl.schema=cs; " class="colorpanel">
            <span ng-repeat="c in cs" style="display: inline-block; width: 15px; height: 15px;" ng-style="{'background-color': c}">
                &nbsp;
            </span>
        </div>
    </div>
</div>   


