
<table class="table table-condensed table-hover" style="margin-top: 40px;"> 
    <thead>
        <tr style="cursor: pointer">
            <th ng-click="topicTable.sortOrder = 'id'">Region <small><span ng-show="topicTable.sortOrder == 'name'" class="glyphicon glyphicon-triangle-bottom" aria-hidden="true"></span></small></th>
            <th ng-repeat="headline in topicTable.headlines track by $index" style="text-align: right; padding-right: 20px;">
                <small><span ng-show="topicTable.sortOrder == '-value'" class="glyphicon glyphicon-triangle-bottom" aria-hidden="true"></span></small>{{headline}}
            </th>
            
        </tr>
    </thead>
    <tr ng-repeat="stats in topicTable.stats">
        <td><a href="#/region/{{stats.id}}">{{stats.name}}</a></td>
        <td ng-repeat="(index, stat) in stats.data" style="text-align: right; padding-right: 20px;">{{stat | numberUnit : topicTable.units[index]}}{{topicTable.units[index] | singularUnit : stat}}</td>
    </tr>
</table>
