<!-- <div bilo-navigation></div>-->
<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#/"><img src="images/bilo_logo.png" alt="BiLO" width="50" style="margin-top: -8px"/></a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li ng-class="{active: topicNavigation.startSelected() }"><a href="#/">Start</a></li>
                
                <li class="dropdown" ng-class="{active: topicNavigation.topicSelected()}">
                    <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Themen <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li ng-repeat="topic in topicNavigation.topics" ng-class="{active: topicNavigation.activeTopic(topic), disabled: (topic.layers.length === 0 && topic.layerGroups.length === 0)}">
                            <a ng-href="#/topic/{{topic.id}}">
                                {{topic.name}}
                            </a>
                        </li>
                    </ul>
                  </li> 
                  
                  <li  ng-class="{active: topicNavigation.regionSelected()}"> 
                    <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Regionen <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li ng-repeat="region in topicNavigation.regions" ng-class="{active: topicNavigation.activeRegion(region)}" >
                            <a ng-href="#/region/{{region.id}}">
                                {{region.name}}
                            </a>
                        </li>
                    </ul>
                </li>
            </ul>
        </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
</nav>