
<region-badge regionid="locationsView.regionid"></region-badge>

<div class="container">
    <a class="btn btn-default pull-left" href="#/region/{{locationsView.regionid}}">Zurück</a>
</div>         

<div class="container">
    
    <div class="row">
        <div class="col-md-9">
            <div region-details-map region="locationsView.regionid" pois="results"></div>
        </div>
        
        <div class="col-md-3">
            <div id="legend">
                <ul>
                <li ng-repeat="parent in locationsView.parent_types">
                    <b>{{parent.name}}</b>
                    <div ng-repeat="type in parent.children" 
                        class="legend-item" 
                        ng-mouseover="locationsView.highlightType(type.id)" 
                        ng-mouseleave="locationsView.dehighlightType()" 
                        ng-click="locationsView.selectedType === type.id ? locationsView.selectedType = undefined : locationsView.selectedType = type.id">
                        <i class="material-icons md-18" ng-style="{'color': type.color}" ng-show="type.parent_id == 101">&#xE061;</i> <!-- school (circle) -->
                        <i class="material-icons md-18" ng-style="{'color': type.color}" ng-show="type.parent_id == 102">&#xE885;</i> <!-- education (star) -->
                        <i class="material-icons md-18" ng-style="{'color': type.color}" ng-show="type.parent_id == 103">&#xE047;</i> <!-- child care (square) -->
                        <span ng-style="locationsView.selectedType === type.id ? {'background-color':'#CCC'} : {'background-color':'none'}">{{type.name}}</span>
                    </div>
                </li>
                </ul>
            </div>
        </div>
    </div>
    <div>
        <h5>{{results.length}} Bildungseinrichtungen</h5>
        
        <table class="table table-condensed">
        <tr class="active">
            <td><input ng-model="searchTerm"  class="form-control"  placeholder="Name"/></td>
            <td><input ng-model="searchStreet"  class="form-control"  placeholder="Straße"/></td>
            <td><input ng-model="searchCity"  class="form-control"  placeholder="Ort"/></td>
        </tr>
        <tr ng-repeat="poi in locationsView.pois 
                        | filter:{properties : {name : searchTerm}}
                        | filter:{properties : {street : searchStreet}}
                        | filter:{properties : {city : searchCity}}
                        | filter:{properties : {type : {id : locationsView.selectedType }}}:true
                        as results" class="poi" ng-mouseover="locationsView.highlightPoi(poi.properties.id)" ng-mouseleave="locationsView.dehighlightPoi(poi.properties.id)">
            <td>{{poi.properties.name}}</td>
            <td>{{poi.properties.street}} {{poi.properties.streetNr}}</td>
            <td>{{poi.properties.city}}</td>
        </div>
    </div>
</div>