Informationen gem&auml;&szlig; &sect; 5 Telemediengesetz *) und &sect; 55 Rundfunkstaatsvertrag **)
<br />
<h2>Herausgeber</h2>
<p>Das WWW-Angebot des Leibniz-Instituts f&uuml;r Bildungsverl&auml;ufe e.V. wird im Auftrag des Direktors des Leibniz-Instituts f&uuml;r Bildungsverl&auml;ufe e.V. ver&ouml;ffentlicht.<br />
<br />
</p>
<h2>Anschrift</h2>
<p>Leibniz-Institut f&uuml;r Bildungsverl&auml;ufe e.V.<br />
Wilhelmsplatz 3<br />
96047 Bamberg<br />
Telefon +49 951 863-3401<br />
Telefax +49 951 863-3411<br />
E-Mail: <a>goetz.lechner(at)lifbi.de</a><br />
Internet: <a href="http://www.uni-bamberg.de/"> </a><a href="https://www.lifbi.de/" target="_blank">www.lifbi.de</a><br />
<br />
</p>
<h2>Steuernummer</h2>
<p>207/109/70492<br />
<br />
</p>
<h2>Rechtsform</h2>
<p>Das Leibniz-Institut f&uuml;r Bildungsverl&auml;ufe e.V. ist als Verein nach &sect; 21 BGB eine juristische Person des Privatrechts.<br />
<br />
</p>
<h2>Vertretungsberechtigte Person</h2>
<p>Das Leibniz-Institut f&uuml;r Bildungsverl&auml;ufe e.V. wird vom Direktor des Instituts, Herrn Prof. Dr. Hans-G&uuml;nther Ro&szlig;bach, gesetzlich vertreten. Verantwortlicher im Sinne von &sect; 5 Telemediengesetz *) und &sect; 55 Rundfunkstaatsvertrag **) ist der Direktor. F&uuml;r namentlich oder mit einem gesonderten Impressum gekennzeichnete Beitr&auml;ge liegt die Verantwortung bei den jeweiligen Autoren.<br />
<br />
Inhaltlich verantwortlich f&uuml;r die Internet-Seiten des Leibniz-Instituts f&uuml;r Bildungsverl&auml;ufe e.V.:<br />
<br />
Leibniz-Institut f&uuml;r Bildungsverl&auml;ufe e.V.<br />
Prof. Dr. Hans-G&uuml;nther Ro&szlig;bach<br />
Wilhelmsplatz 3<br />
96047 Bamberg<br />
Telefon +49 951 863-3401<br />
Telefax +49 951 863-3411<br />
Internet: </a><a href="https://www.lifbi.de/" target="_blank">www.lifbi.de</a><br />
<br />
</p>
<h2>Disclaimer</h2>
<p> </p>
Die Zusammenstellung der Informationen auf dieser Website wurde vom Leibniz-Institut f&uuml;r Bildungsverl&auml;ufe e.V. mit gr&ouml;&szlig;tm&ouml;glicher Sorgfalt vorgenommen. Dennoch kann keinerlei Gew&auml;hr f&uuml;r Aktualit&auml;t, Korrektheit, Vollst&auml;ndigkeit oder Qualit&auml;t der bereitgestellten Informationen und Daten &uuml;bernommen werden. Haftungsanspr&uuml;che gegen das Leibniz-Institut f&uuml;r Bildungsverl&auml;ufe e.V. oder die Autoren beziehungsweise Verantwortlichen dieser Website f&uuml;r Sch&auml;den materieller oder immaterieller Art, die auf gegebenenfalls fehlerhaften oder unvollst&auml;ndigen Informationen und Daten beruhen, sind, soweit nicht Vorsatz oder grobe Fahrl&auml;ssigkeit vorliegt, ausgeschlossen.<br />
<br />
Das Vorgesagte gilt auch f&uuml;r Informationen auf Websites, auf die mittels eines Hyperlinks verwiesen wird. Der Inhalt dieser Websites liegt vollst&auml;ndig au&szlig;erhalb des Verantwortungsbereiches des Leibniz-Instituts f&uuml;r Bildungsverl&auml;ufe e.V., war aber zur Zeit der Verlinkung frei von illegalen Inhalten. Auf die Gestaltung der gelinkten Websites kann nicht Einfluss genommen werden. F&uuml;r Sch&auml;den, die aus fehlerhaften oder unvollst&auml;ndigen Inhalten auf den mittels Link verwiesenen Websites resultieren, haften das Leibniz-Institut f&uuml;r Bildungsverl&auml;ufe e.V. und die Autoren beziehungsweise Verantwortlichen dieser Website nicht.<br />
<br />
Alle auf dieser Website ver&ouml;ffentlichten Texte, Bilder und Grafiken unterliegen dem Urheberrecht und anderen Gesetzen zum Schutz des geistigen Eigentums. Das Copyright f&uuml;r die vom Leibniz-Institut f&uuml;r Bildungsverl&auml;ufe e.V. erstellten Objekte der Website liegt beim Leibniz-Institut f&uuml;r Bildungsverl&auml;ufe e.V.. Auf der Website genannte und gegebenenfalls durch Dritte gesch&uuml;tzte Marken- und Warenzeichen unterliegen ohne Einschr&auml;nkung den Bestimmungen des jeweils geltenden Kennzeichenrechts und den Besitzrechten der jeweils eingetragenen Eigent&uuml;mer.<br />
<br />
Alle aus dieser Website entstehenden Rechtsstreitigkeiten unterliegen ausschlie&szlig;lich deutschem Recht.
<p>
</p>
<br />
<h2>Bildnachweis</h2>

Bilder auf der Seite „Regionen“:
<p>Diese Bilder stellen Wappen einer deutschen Körperschaft des öffentlichen Rechts dar. Nach § 5 Abs. 1 UrhG (Deutschland) sind amtliche Werke wie Wappen gemeinfrei.</p>
__________________________<br />
<br />
*) Telemediengesetz vom 26. Februar 2007 (BGBl I S. 179).<br />
<br />
**) Staatsvertrag f&uuml;r Rundfunk und Telemedien (Rundfunkstaatsvertrag &ndash; RStV) vom 31. August 1991 in der Fassung von Artikel 1 des Zehnten Staatsvertrages zur &Auml;nderung rundfunkrechtlicher<br />
Staatsvertr&auml;ge vom 19.12.2007 (vgl. GBl. 2008, S. 237)<br />
<br />
***) Bayerisches Hochschulgesetz in der Fassung der Bekanntmachung vom 23. Mai 2006 (GVBl S. 245).
<p>&nbsp;</p>
<p> </p>