<div class="row">
<div class="jumbotron">
        <div class="row">
            <div class="col-md-6">
                <h1>{{regionBadge.region.name}}</h1>
            </div>
            <div class="col-md-4" style="padding: 20px;">
                {{regionBadge.region.description}}
            </div>
            <div class="col-md-2">
                <img ng-src="images/{{regionBadge.region.id}}.png" class="img-responsive" style="margin-bottom:-240px;"/>
            </div>
        </div>
        
</div>
</div>
