<div class="row">
<div class="jumbotron">
        <div class="row">
            <div class="col-md-10 text-center">
                <h1>{{regionBadge.region.name}}</h1>
            </div>
            <div class="col-md-2 hidden-xs hidden-sm">
                <img ng-src="images/{{regionBadge.region.id}}.png" class="img-responsive" style="margin-bottom:-240px;"/>
            </div>
            
            <div class="visible-xs visible-sm">
                <div class="col-xs-2">
                    
                </div>
                <div class="col-xs-8">
                    <img ng-src="images/{{regionBadge.region.id}}.png" class="img-responsive"/>
                </div>
                <div class="col-xs-2">
                    
                </div>
            </div>
        </div>
</div>
</div>
